body {
    background: url("../images/trivia-background.jpg");
    background-position: top;
    background-size: cover;
    height: 600px;
}

#start-button {
    text-align: right;
    background-color: #000000;
    color: yellowgreen;  
    padding: 10px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    margin:10px
}

#start-button:hover {
    opacity: 0.5;
}

#stop-button {
    text-align: right;
    background-color: #000000;
    color: yellowgreen;  
    padding: 10px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    margin:10px
}

#stop-button:hover {
    opacity: 0.5;
}

#submit-button {
    text-align: right;
    float: right;
    background-color: #000000;
    color: yellowgreen;  
    padding: 10px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    margin:10px
}

#submit-button:hover {
    opacity: 0.5;
}

#time-remaining {
    text-align: left;
    padding-top: 55px;
    padding-left: 72px;
    color: yellowgreen;  
    font-family: 'Wallpoet', cursive;
}

#question-1 {
    text-align: left;
    padding-top: 10px;
    padding-left: 72px;
    color: yellowgreen;  
    font-family: 'Wallpoet', cursive; 
}

#question-2 {
    text-align: left;
    padding-top: 10px;
    padding-left: 72px;
    color: yellowgreen;  
    font-family: 'Wallpoet', cursive; 
}

#answers-1 {
    color: yellowgreen;  
    font-family: 'Wallpoet', cursive;
    padding-left: 72px;
}

#answers-2 {
    color: yellowgreen;  
    font-family: 'Wallpoet', cursive;
    padding-left: 72px;
}

#answers-3 {
    color: yellowgreen;  
    font-family: 'Wallpoet', cursive;
    padding-left: 72px;
}

#answers-4 {
    color: yellowgreen;  
    font-family: 'Wallpoet', cursive;
    padding-left: 72px;
}

#player-score {
    color: yellowgreen;  
    font-family: 'Wallpoet', cursive;
    padding-top: 55px;
    padding-left: 72px;
}
